@import "../variables";

.header {
  display: flex;
  align-items: center;
  height: $header_height;
  background-color: $color-default-white;
}

.header__wrapper {
  display: flex;
}

.header__logo {
  display: block;

  svg {
    display: block;
  }
}
